

h1 {
    display: flex;
    justify-content: center;
    background-color: #ffae00;
    margin: 0;
}

h3 {
    margin-bottom: 2px;
}

.form {
    margin: auto;
    width: 30%;
    display: block;
}

#weekday {
    background-color: #ffae00;
    padding: 20px;
}

#breakContinue {
    background-color: #ffae00;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #ffae00;
}